h3 {
    margin-bottom: 10px;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    padding: 10px;
    font-size: 14px;
    border-left: 3px solid var(--twitter-blue);
    margin-bottom: 8px;
    background-color: var(--twitter-white);
    border-radius: var(--twitter-border-radius);
  }
  